<div class="page-header text-center">
    <h1>{{nome.nome}}</h1>
</div>

<form name="formulario" class="row" ng-submit="salvarNome()">
    <div class="col-md-6">
        <div class="form-group">
            <label>Nome</label>
            <input ng-model="nome.nome" name="nome" class="form-control">
        </div>
        <div class="form-group">
            <label>Telefone</label>
            <input ng-model="nome.telefone" name="telefone" class="form-control">
        </div>
        <div class="form-group">
            <label>Observação</label>
            <textarea ng-model="nome.observacao" name="observacao" class="form-control">
            </textarea>
        </div>

        <button type="submit" class="btn btn-primary">
            Salvar
        </button>
        <a href="#/nomes" class="btn btn-primary">Voltar</a>
        <hr>
    </div>
    <div class="col-md-6">
        <minha-foto url="{{nome.telefone}}" titulo="nome.nome"></minha-foto>
    </div>
</form>