<div class="jumbotron">
    <h1 class="text-center">VDSom</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <form>
            <!-- delay 500 ms / ng-model envia a entrada para
            $scope.filtro do controller-->
            <input ng-model="filtro" 
            ng-model-options="{ debounce: 500}" 
            class="form-control" 
            placeholder="filtrar">
        </form>
    </div>
</div>

<div class="row">
    <meu-painel class="col-md-2" 
    ng-repeat="nome in nomes | filter: filtro" 
    nome="{{nome.nome}}">
        <p>FOO</p>
    </meu-painel>
</div>